/* ShareMovieForm.css */
.shareMovieForm {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 4px;
}

.formHeader {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.formGroup {
  margin-bottom: 15px;
}

.title {
  display: block;
  margin-bottom: 5px;
}

/* .input[type='text'],
.input[type='number'] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

/* .shareBtn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.shareBtn:hover {
  background-color: #0056b3;
} */